{{ define "fragment" }}
    <main>
        {{ if .Ctx.HasError }}
            {{ template "error" . }}
        {{ else }}
            {{ template "content" . }}
        {{ end }}
    </main>
{{ end }}
