{{ define "title" }}
    Go-Drink - Home
{{ end }}
{{ define "content" }}
    <section>
        <hgroup>
            <h1>Go-Drink - stay hydrated.</h1>
            <p>Go-Drink is the official Drink management of Port39!</p>
        </hgroup>
    </section>
{{ end }}
