{{ define "title" }}
    GoDrink - New Item
{{end}}
{{define "content"}}
    {{with .Data}}
        <section>
            <h2 up-flashes><span>Item added successfully</span></h2>
            <p>New item:</p>
            <ul id="item-list">
                <li>
                    <p>{{ .Name }}</p>
                    <p>{{ .Price }}</p>
                </li>
            </ul>
            <a href="/items">Return to item list</a>
        </section>
    {{end}}
{{end}}
